# Editor project and temporary files
/*.komodoproject
.komodotools
/*.kpf
/.project
.redcar
.*.sw?

# Interpreter temporary files
__pycache__
*.pyc

# Binary distributions
/python-src/build
/python-src/dist
/python-src/*.egg-info

# chroot environment stuff
chroot/bin/elevator
chroot/etc/hypernova/agent/local.ini
chroot/tmp/*
chroot/var/lib/hypernova/gpg/*
chroot/var/log/hypernova/*

# virtualenv stuff
chroot/bin/activate*
chroot/bin/easy_install*
chroot/bin/pip*
chroot/bin/python*
chroot/include
chroot/lib*

# OS temporary rubbish
.DS_Store
