# Editor project and temporary files
/*.komodoproject
/*.kpf
/.project

# Interpreter temporary files
__pycache__

# Binary distributions
/python-src/build
/python-src/dist
/python-src/*.egg-info

# OS temporary rubbish
.DS_Store
