[submodule "deps/elevator"]
	path = deps/elevator
	url = https://github.com/LukeCarrier/elevator.git
[submodule "deps/python-gnupg"]
	path = deps/python-gnupg
	url = https://github.com/LukeCarrier/python-gnupg.git
[submodule "deps/python-oursql"]
	path = deps/python-oursql
	url = https://github.com/LukeCarrier/py3k-oursql.git
[submodule "deps/python-pyrg"]
	path = deps/python-pyrg
	url = https://github.com/LukeCarrier/py3k-pyrg.git
[submodule "deps/python-pexpect"]
	path = deps/python-pexpect
	url = https://github.com/LukeCarrier/py3k-pexpect.git

[submodule "deps/python-daemon"]
	path = deps/python-daemon
	url = git@github.com:LukeCarrier/py3k-daemon.git
