body {
	padding: 0px;
	margin: 0px;
	background-repeat: repeat;
	background-image: url(images/grain.png);
	background-color: #2e2e2e;
	color: #f4f4f4;
	line-height: 1px;
	font-size: 12px;
	font-family: Verdana, Arial;
}

#wrapper {
	margin-left: auto;
	margin-bottom: 0px;
	margin-right: auto;
	margin-top: 0px;
	position: relative;
	padding: 0px;
	width: 1000px;
}

#header {
	border-left-width: 0px;
	border-bottom-width: 4px;
	border-right-width: 0px;
	border-top-width: 0px;
	background-repeat: no-repeat;
	background-image: url(images/header.png);
	position: relative;
	height: 60px;
	width: 100%;
	margin: 0px;
	border-color: #6c2103;
	border-style: solid;
}

#logo {
	margin-top: 7px;
	background-repeat: no-repeat;
	float: left;
	position: relative;
	margin-left: 30px;
	height: 50px;
	width: 300px;
	background-image: url(images/logo.png);
}

#links {
	margin-top: 20px;
	margin-right: 30px;
	height: 30px;
	float: right;
	width: 400px;
	position: relative;
}

.links_item {
}
#banner {
	max-height: 300px;
	min-height: 300px;
	background-image: url(images/banner.png);
	background-repeat: no-repeat;
	height: 300px;
	width: 100%;
	position: relative;
}
#banner_block {
	margin-right: auto;
	margin-left: auto;
	padding-left: 30px;
	padding-top: 15px;
	position: relative;
	margin-top: 20px;
	height: 220px;
	width: 940px;
	background-repeat: repeat;
	background-image: url(images/banner_block.png);
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#content {
	min-height: 400px;
	position: relative;
	width: 100%;
}

#footer {
	height: 100px;
	width: 100%;
}

