body {
	font-family: Verdana;
	letter-spacing: 0px;
	padding: 0px;
	margin: 0px;
	background-repeat: repeat;
	background-image: url(images/background.png);
	background-color: #2e2e2e;
	color: #ebebeb;
	line-height: 17px;
	font-size: 12px;
}

#wrapper {
	margin-left: auto;
	margin-bottom: 0px;
	margin-right: auto;
	margin-top: 0px;
	position: relative;
	padding: 0px;
	width: 1000px;
}

#header {
	border-left-width: 0px;
	border-bottom-width: 4px;
	border-right-width: 0px;
	border-top-width: 0px;
	background-repeat: no-repeat;
	background-image: url(images/header.png);
	position: relative;
	height: 60px;
	width: 100%;
	margin: 0px;
	border-color: #6c2103;
	border-style: solid;
}

#logo {
	margin-top: 7px;
	background-repeat: no-repeat;
	float: left;
	position: relative;
	margin-left: 30px;
	height: 50px;
	width: 300px;
	background-image: url(images/logo.png);
}

#links {
	display: block;
	margin-top: 25px;
	margin-right: 25px;
	float: right;
	position: relative;
}

.links_item {
	display: block;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	float: left;
	margin-right: 8px;
	background-image: url(images/banner_block.png);
	background-repeat: repeat;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
	
.links_item a {color: #dfdfdf; text-decoration: none; display:block;}
.links_item a:hover {color: #c85012; text-decoration: none; display:block;}
.links_item a:active {text-decoration: none; display:block;}
.links_item a:visited {text-decoration: none; display:block;}

a {color: #c85012; text-decoration: none;}
a:hover {color: #ebebeb; text-decoration: none;}
a:active {text-decoration: none;}
a:visited {text-decoration: none;}

#banner {
	border-bottom-color: #6c2103;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	padding-top: 20px;
	max-height: 300px;
	min-height: 300px;
	background-image: url(images/banner.png);
	background-repeat: no-repeat;
	height: 300px;
	width: 100%;
	position: relative;
}
#banner_block {
	padding-bottom: 25px;
	padding-right: 30px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 30px;
	padding-top: 25px;
	position: relative;
	height: 225px;
	width: 880px;
	background-repeat: repeat;
	background-image: url(images/banner_block.png);
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#content {
	padding-bottom: 35px;
	padding-top: 35px;
	border-bottom-color: #292929;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	background-image: url(images/grain.png);
	background-repeat: repeat;
	min-height: 400px;
	position: relative;
	width: 100%;
}

p {
	padding-bottom: 15px;
	padding-right: 30px;
	margin-top: 0px;
	padding-left: 30px;
}

#footer {
	padding-left: 30px;
	margin-bottom: 15px;
	margin-top: 25px;
	height: 100px;
	width: 100%;
}

